@using TourWebsite.Models.Files
@model TourWebsite.Models.Tours.TourEdit

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<h4>Tours</h4>



<hr />
<div class="row">

    <div class="col-md-8">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="text-danger"></div>
            <input type="hidden" name="TourID" value="" />
            <table class="table table-bordered table-sm">
                <div class="form-group">
                    <label asp-for="Title" class="control-label">Title</label>
                    <input asp-for="Title" class="form-control" value="" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </table>
            <table class="table table-bordered table-sm">
                <div class="form-group">
                    <a href="javascript:void(0);" name="/File/AttachmentList" class="modalManager" extra-data='#ThumbnailData'>Pick Thumbnail</a>
                    <script type="application/json" id="ThumbnailData">
                        {
                        "Target": "ThumbnailBox",
                        "Target2": "ThumbnailPreview",
                        "FileType": @((ushort)FileType.Image)
                        }
                    </script>
                    <input hidden asp-for="Thumbnail" class="form-control" id="ThumbnailBox" name="Thumbnail">
                    <div id="ThumbnailPreview"></div>
                </div>
            </table>

            <table class="table table-bordered table-sm">
                <div class="form-group">
                    <a href="javascript:void(0);" name="/File/AttachmentList" class="modalManager" extra-data='#AudioData'>Pick Audio Track</a>
                    <script type="application/json" id="AudioData">
                        {
                        "Target": "AudioBox",
                        "Target2": "AudioPreview",
                        "FileType": @((ushort)FileType.Audio)
                        }
                    </script>
                    <input hidden asp-for="AudioTrack" class="form-control" id="AudioBox" name="AudioTrack">
                    <div id="AudioPreview" ></div>
                </div>
            </table>
            <table class="table table-bordered">
                <div class="form-group">
                    <label name="TourDescription" class="control-label">Description</label>
                    <textarea id="tiny" name="TourDescription" class="form-control" value=""></textarea>
                    <span asp-validation-for="TourSite.Description" class="text-danger"></span>
                </div>
            </table>
            <table class="table table-bordered table-sm">
                <div class="form-group">
                    <label asp-for="Longitude" class="control-label">Longitude</label>
                    <input asp-for="Longitude" id="long" class="form-control" value="@Model.Longitude" />
                    <span asp-validation-for="Longitude" class="text-danger"></span>
                </div>
            </table>
            <table class="table table-bordered table-sm">
                <div class="form-group">
                    <label asp-for="Lattitude" class="control-label">Latitude</label>
                    <input asp-for="Lattitude" id="lat" class="form-control" value="@Model.Lattitude" />
                    <span asp-validation-for="Lattitude" class="text-danger"></span>
                </div>
            </table>


            <table class="table table-bordered table-sm">
            <label>Visibility</label>
            <select name="Visibility" asp-items="Html.GetEnumSelectList<VisibilityType>()">
                <option selected="selected" value="">Select Visibility</option>

            </select>
            </table>


            <table class="table table-bordered table-sm">
                <div type="email" class="form-group">
                    <label asp-for="Email" class="control-label">Add editors</label>
                    <a href="javascript:void(0);" name="/Role/UserList" class="modalManager" extra-data='#MyScriptData'>Pick user</a>
                    <script type="application/json" id="MyScriptData">
                        {
                        "Target": "EmailBox"
                        }
                    </script>
                    <input asp-for="Email" id="EmailBox" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </table>

            @* Maybe questionable, but *@
            @* name is used for the view url *@
            @* data is used for variables passed to the view, defined in a seperate script so it works *@
            @* @Html.ActionLink("User List", "UserList", "Role", new {}, *@
            @*          new { @class = "modalManager" }) *@


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>


    <a asp-action="Index">Back to List</a>
</div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        //Init rich text

               tinymce.init({
               selector: 'textarea#tiny',
               license_key: 'gpl',
               plugins: 'lists',
               toolbar: 'numlist bullist',
               promotion: false
               });
    </script>


}

