@using Microsoft.AspNetCore.Authorization
@using TourWebsite.Data
@model ValueTuple<TourWebsite.Models.TourSite, bool>

@inject TourWebsiteContext _context
@inject IAuthorizationService authService;

@{
    ViewData["Title"] = "Details";
    var allowedUsers2 = Model.Item1.ApprovedEditUsers;
    AuthorizationResult authorized3 = await authService.AuthorizeAsync(User, allowedUsers2, "TourAccess"); //Who can edit this
}


@if(Model.Item2)
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#myModal').modal('hide');">×</button>
        <h2>Details</h2>
    </div>
}
else {
    <h1>Details</h1>
}

<div>
    <hr />
    <div class="form-group col-4">
        @{
            if (Model.Item1.ThumbnailID != null)
            {

                var file = await _context.UploadedFiles.FindAsync(Model.Item1.ThumbnailID);
                if (file != null)
                {
                    <label class="control-label h2"></label>
                    var base64 = Convert.ToBase64String(file.Bytes);
                    var Image = String.Format("data:image/gif;base64,{0}", base64);
                    <img src="@Image" alt="" class="img-fluid">
                }
            }
        }
    </div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item1.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Item1.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item1.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.Lattitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item1.Lattitude)
        </dd>
    </dl>
</div>
<div>

    @if (authorized3.Succeeded)
    {
        <a asp-action="Edit" asp-route-id="@Model.Item1.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
