@using Microsoft.AspNetCore.Authorization
@using TourWebsite.Areas.Identity.Data
@using TourWebsite.Data
@using TourWebsite.Models.Files
@model TourWebsite.Models.Tours.TourEdit

@inject IAuthorizationService auth
@inject TourWebsiteContext _context

@{
    ViewData["Title"] = "Edit";

    AuthorizationResult authorized1 = await auth.AuthorizeAsync(User, null, "TourAccess");

}

<h1>Edit</h1>

<h4>Tours</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="TourID" value="@Model.TourID" />
            <table class="table table-bordered table-sm">
                <div class="form-group">
                    <label asp-for="Title" class="control-label">Title</label>
                    <input asp-for="Title" class="form-control" value="@Model.Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </table>

            @if (Model.Thumbnail == null)
            {
                <table class="table table-bordered table-sm">
                    <div class="form-group">
                        <a href="javascript:void(0);" name="/File/AttachmentList" class="modalManager" extra-data='#ThumbnailData'>Pick Thumbnail</a>
                        <script type="application/json" id="ThumbnailData">
                            {
                            "Target": "ThumbnailBox",
                            "Target2": "ThumbnailPreview",
                            "FileType": @((ushort)FileType.Image)
                            }
                        </script>
                        <input hidden asp-for="Thumbnail" class="form-control" id="ThumbnailBox" name="Thumbnail">
                        <div id="ThumbnailPreview"></div>
                    </div>
                </table>
            }
            else
            {


                var file = await _context.UploadedFiles.FindAsync(Model.Thumbnail);

                if (file != null)
                {
                    @Html.Raw(file.HtmlString())
                }
                <br />
                <label>Remove Thumbnail: </label>


                <input type="checkbox" asp-for="RemoveThumbnail" />
                <br />
                
            }

            @if (Model.AudioTrack == null)
            {
                <table class="table table-bordered table-sm">
                    <div class="form-group">
                        <a href="javascript:void(0);" name="/File/AttachmentList" class="modalManager" extra-data='#AudioData'>Pick Audio Track</a>
                        <script type="application/json" id="AudioData">
                            {
                            "Target": "AudioBox",
                            "Target2": "AudioPreview",
                            "FileType": @((ushort)FileType.Audio)
                            }
                        </script>
                        <input hidden asp-for="AudioTrack" class="form-control" id="AudioBox" name="AudioTrack">
                        <div id="AudioPreview"></div>
                    </div>
                </table>
            }
            else
            {
                var file = await _context.UploadedFiles.FindAsync(Model.AudioTrack);

                if (file != null)
                {
                    @Html.Raw(file.HtmlString())
                }
                <br />
                <label>Remove Audio: </label>

                <input type="checkbox" asp-for="RemoveAudio" />
                <br />
            }
            <table class="table table-bordered table-sm">
                <div class="form-group">
                    <label name="TourDescription" class="control-label">Description</label>
                    <input id="descriptionVal", type="hidden" class="form-control" value="@Model.TourDescription" />
                    <textarea id="tiny" name="TourDescription" class="form-control"></textarea>
                    <span asp-validation-for="TourDescription" class="text-danger"></span>
                </div>
            </table>

            <table class="table table-sm" cellpadding="0" cellspacing="0" border="0">


                <thead class="form-group">
                    <tr>
                        <td class="col-sm-2">
                            <label asp-for="Longitude" class="control-label">Longitude</label>
                            <input asp-for="Longitude" id="long" class="form-control" value="@Model.Longitude" />
                            <span asp-validation-for="Longitude" class="text-danger"></span>
                        </td>
                        <td class="col-sm-2">
                            <label asp-for="Lattitude" class="control-label">Latitude</label>
                            <input asp-for="Lattitude" id="lat" class="form-control" value="@Model.Lattitude" />
                            <span asp-validation-for="Lattitude" class="text-danger"></span>
                        </td>
                    <tr />
                </thead>

                
                

            </table>
            <a asp-action="MoveTour" asp-route-id="@Model.TourID">Move Tour</a>


            <table class="table table-sm" cellpadding="0" cellspacing="0" border="0">

                <thead class="form-group">
                    <tr>
                        <td class="col-sm-2">
                            <label asp-for="IconColor" class="control-label">Icon Color</label>
                            <input asp-for="IconColor" type="color" class="form-control" value="@Model.IconColor" />
                            <span asp-validation-for="IconColor" class="text-danger"></span>
                        </td>
                        <td class="col-sm-2">
                            <label asp-for="IconBorderColor" class="control-label">Icon Border Color</label>
                            <input asp-for="IconBorderColor" type="color" class="form-control" value="@Model.IconBorderColor" />
                            <span asp-validation-for="IconColor" class="text-danger"></span>
                        </td>
                    <tr />
                </thead>
            </table>


            @if(authorized1.Succeeded) {
            <label>Visibility</label>
            <select name="Visibility" asp-items="Html.GetEnumSelectList<VisibilityType>()">
                <option selected="selected" value="@Model.Visibility">Currently: @Model.Visibility</option>

            </select>

            @if (Model.Visibility == VisibilityType.Restricted) {
                <table class="table table-bordered table-sm">
                    <div type="email" class="form-group">
                        <label asp-for="EmailViewer" class="control-label">Add Viewers</label>
                            <a href="javascript:void(0);" name="/Role/UserList" class="modalManager" extra-data='#MyScriptData'>Pick user</a>
                            <script type="application/json" id="MyScriptData">
                                {
                                "Target": "ViewerBox"
                                }
                            </script>
                            <textarea asp-for=EmailViewer id="ViewerBox" class="form-control" value=""></textarea>
                        <span asp-validation-for="EmailViewer" class="text-danger"></span>
                    </div>
                </table>

                <label>Remove viewers from @Model.Title</label>
                <table class="table table-bordered table-sm">
                    @if (Model.Viewers.Count() == 0)
                    {
                        <tr><td colspan="2">No Users Are Viewers</td></tr>
                    }
                    else
                    {
                        @foreach (TourWebsiteUser user in Model.Viewers)
                        {
                            <tr>
                                <td>@user.UserName</td>
                                <td>
                                    <input type="checkbox" name="DeleteIdsViewer" value="@user.Email">
                                </td>
                            </tr>
                        }
                    }
                </table>
            }

            <table class="table table-bordered table-sm">
                <div type="email" class="form-group">
                    <label asp-for="Email" class="control-label">Add editors</label>
                    <a href="javascript:void(0);" name="/Role/UserList" class="modalManager" extra-data='#MyScriptData2'>Pick user</a>
                    <script type="application/json" id="MyScriptData2">
                        {
                        "Target": "EmailBox"
                        }
                    </script>
                        <textarea asp-for="Email" id="EmailBox" class="form-control" value=""></textarea>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </table>

            <label>Remove editors from @Model.Title</label>
            <table class="table table-bordered table-sm">
                @if (Model.Members.Count() == 0)
                {
                    <tr><td colspan="2">No Users Are Editors</td></tr>
                }
                else
                {
                    @foreach (TourWebsiteUser user in Model.Members)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>
                                <input type="checkbox" name="DeleteIds" value="@user.Email">
                            </td>
                        </tr>
                    }
                }
            </table>

                <table class="table table-bordered table-sm">
                    <div type="email" class="form-group">
                        <label asp-for="NextTourID" id="TourLabel" class="control-label">Next Tour: @Model.NextTourTitle</label>
                        <a href="javascript:void(0);" name="/TourSites/TourListPop" class="modalManager" extra-data='#TourSiteData'>Pick Next Tour</a>
                        <script type="application/json" id="TourSiteData">
                            {
                            "Target": "Next Tour",
                            "Target2": "TourLabel"
                            }
                        </script>
                        <input asp-for="NextTourID" id="Next Tour" class="form-control" hidden></input>
                        <span asp-validation-for="NextTourID" class="text-danger"></span>
                    </div>
                </table>

                <table class="table table-bordered table-sm">
                    <div class="form-group">
                        <label asp-for="TagToAdd" class="control-label">Add Tags</label>
                        <textarea asp-for="TagToAdd" class="form-control" value=""></textarea>
                        <span asp-validation-for="TagToAdd" class="text-danger"></span>
                    </div>
                </table>


                <label>Remove Tags from @Model.Title</label>
                <table class="table table-bordered table-sm">
                    @if (Model.Tags.Count() == 0)
                    {
                        <tr><td colspan="2">No Tags</td></tr>
                    }
                    else
                    {
                        @foreach (string tag in Model.Tags)
                        {
                            <tr>
                                <td>@tag</td>
                                <td>
                                    <input type="checkbox" name="RemoveTags" value="@tag">
                                </td>
                            </tr>
                        }
                    }
                </table>
            }

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>

    var text = document.getElementById('descriptionVal').value;
        console.log(text);

        tinymce.init({

        selector: 'textarea#tiny',
        license_key: 'gpl',
            plugins: 'lists',
    toolbar: 'numlist bullist',
        promotion: false,
            setup: function (editor) {
              editor.on('init', function (e) {
                editor.setContent(text);
              });
        }
        });
</script>

