@using TourWebsite.Areas.Identity.Data
@model TourWebsite.Models.Roles.RoleEdit
@{
    ViewData["Title"] = "UPDATE ROLE";
}

<h2>Update @(Model.Role.Name)s</h2>
<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <input type="hidden" name="roleName" value="@Model.Role.Name" />
    <input type="hidden" name="roleId" value="@Model.Role.Id" />

    <table class="table table-bordered table-sm">
        <div type="email" class="form-group">
            <label asp-for="Email" class="control-label">Add editors</label>
            <a href="javascript:void(0);" name="/Role/UserList" class="modalManager" extra-data='#MyScriptData2'>Pick user</a>
            <script type="application/json" id="MyScriptData2">
                {
                "Target": "EmailBox"
                }
            </script>
            <textarea asp-for="Email" id="EmailBox" class="form-control" name="AddEmail" value=""></textarea>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </table>

    <h2>Remove From @(Model.Role.Name)s</h2>
    <table class="table table-bordered table-sm">
        @if (Model.Members.Count() == 0)
        {
            <tr><td colspan="2">No Users Are Members</td></tr>
        }
        else
        {
            @foreach (TourWebsiteUser user in Model.Members)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        <input type="checkbox" name="DeleteIds" value="@user.Id">
                    </td>
                </tr>
            }
        }
    </table>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>